*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937 ;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px 350px;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}

.hlink{
    padding-left: 30px;
}

.bigcontainer{
    background-color: #1f2937;
    height: 700px;
    padding: 225px 350px;

    display: flex;
    
    justify-content: space-between;
    gap:15px;
}

.image{
    width: 550px;
    height: 250px;
    background-color: gray;
    flex: 0 0 auto;

}

.container{
    max-height: auto;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.herotitle{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herotext{
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.3em;
}

.botton{
    width: 130px;
    height:40px ;
    background-color: #3882f6 ;
    border-radius: 8px;
    margin-top: 10px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    border-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
}


.whitecontainer{
    display: flex;
    flex-direction: column;
    padding: 50px 480px;
    align-items: center;
    row-gap: 50px;

}

.whitecontainer__container{
    display: flex;
    column-gap: 50px;
    justify-content:space-between;
    max-width: 900px;
}

h3{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.element{
    flex: 0 0 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.element__blueborder{
    width: 160px;
    height: 160px;
    border: #3882f6;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.element__text{
    padding: 0px 5px;
}

.gray-container{
    background-color: #e5e7eb;
    padding: 0px 480px ;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-name{
    font-size: 1.5em;
    font-weight: bold;
    align-self: flex-end;
}

.white-container-last{
    padding: 225px 350px;
}

.blue-container{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px 130px;
    border-radius: 10px;
    height: 150px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-container h4{
    font-size: 24px;

}

.blue-container button{
    border: #f9faf8;
    border-style: solid;
    border-width: 2px;

    margin-left: auto;
}



.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}